@model June2023_technical.Models.ErrorViewModel

<h1>An error occurred.</h1>
<p>Request ID: @Model.RequestId</p>

@if (Model.Exception != null)
{
    <h2>Exception Details</h2>
    <pre>@Model.Exception.Message</pre>
    <pre>@Model.Exception.StackTrace</pre>
}
